<h1>Login</h1>

<form {{action "login" on="submit"}}>
  <p>
    <input type="text" placeholder="Username">
  </p>

  <p>
    <input type="password" placeholder="Password">
  </p>

  <p>
    <input type="submit" value="Login">
  </p>
</form>